/*-------HEADER_START-------*/
a {
	color: #fff;
	text-decoration: none;
}
* {
	margin: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #78909C;
	color: #fff;
	font-family: Helvetica;
}
.header-section {
	display: flex;
	align-items: center;
}
.header-item {
	padding: 10px 15px;
	font-size: 17px;
	margin-left: 5px;
	margin-right: 30px;
}
.header-item:hover {
	background-color: #424242;
	border-radius: 5px;
}
.header-item-logo {
	margin-right: 80px;
}
.header-logo {
	font-weight: bold;
}
.headerButton {
	cursor: pointer;
}
/*-------HEADER_END-------*/

/*-------SIDEBAR_START-------*/
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 650px;
	width: 150px;
	padding: 10px;
	border-radius: 0 0 5px 0px;
}
.sidebar-item a {
	color: #EEEEEE;
}
.sidebar-item {
	cursor: pointer;
	padding: 8px 10px;
	font-size: 18px;
}
.sidebar-item:hover{
	background-color: #78909C;
	border-right: 5px;
	border-radius: 5px;
}
/*-------SIDEBAR_END-------*/

/*-------SLIDEBAR_START-------*/
main {
	display: flex;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100%;
}
html {
	background: #333;
	position:relative;
    min-height:100%;
	font-family: Helvetica;
}
h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	margin-top: 15px;
}
.slideshow-container {
	max-width: 960px;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s easy;
	border-radius: 0 5px 5px 0;
}
.next {
	right: 0;
	border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.6);
}
.numbertext {
	color: #f2f2f2;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	text-align: center;
}
.text {
	color: #f2f2f2;
	font-size: 25px;
	padding: 8px 12px;
	position: relative;
	bottom: 90px;
	text-align: center;
}
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s easy;
}
.active, .dot:hover {
	background: #689cd2;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
img {
	border-radius: 5px;
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
/*-------SLIDEBAR_END-------*/

/*-------GALLERY_START-------*/
.gallery {
	padding: .5vw;
	font-size: 0;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
	display: flex;
}
.gallery div {
	flex: auto;
	width: 237px;
	margin: .5vw;
}
.gallery div img {
	width: 100%;
	height: auto;
}
.gallery:hover img {
	opacity: 0.3;
	transition: .8s opacity;
}
.gallery:hover img:hover {
	opacity: 0.3;
	transition: .8s opacity;
}
.gallery:hover img:hover {
	opacity: 1;
	transition: .8s opacity;
}
@media screen and (max-width: 550px) {
	.gallery div {
		margin: 0;
	}
	.gallery {
		padding: 0;
	}
}
/*-------GALLERY_END-------*/

/*-------BLOG_START-------*/
img {
	max-width: 100%;
}
body {
	font-size: 17px;
	line-height: 1.4;
}
* {
	transition-property: background-color, border-color, box-shadow, color, opacity, max-height;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	box-sizing: border-box;
}
.card {
	height: 30%; /*все карточки одного размера*/
	width: 30%; /*все карточки одного размера*/
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
	background: #fefff9;
	color: #363636;
	font-size: 15px;
	text-decoration: none;
	box-shadow: rgba(0,0,0,0.19) 0 0 8px 0;
	border-radius: 5px;
}
@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}
@media (min-width: 700px) {
	.card {
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
.cards span {
	display: block;
}
.card .card-summary {
	padding: 5% 5% 3% 5%;
}
.card .card-header {
	position: relative;
	height: 180px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain; /*картинка полностью помещается*/
	background-position: center;
	background-color: rgba(255,255,255,0.15);
	background-blend-mode: overlay;
	border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus {
	background-color: rgba(255,255,255,0);
}
.card .card-title {
	background: rgba(104,156,210,0.85);
	padding: 3.5% 0 2.5% 0;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.card .card-title h3 {
	font-size: 1.2em;
	line-height: 1.2;
	padding: 0 3.5%;
	margin: 0;
}
.card .card-meta {
	max-height: 0;
	overflow: hidden;
	color: #666;
	font-size: .78em;
	text-transform: uppercase;
	position: center;
	bottom: 5%;
	padding: 0 5%;
	transition-property: max-height;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
.card:hover, .card:focus {
	background: #FFF;
	box-shadow: rgba(0,0,0,0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
	background: rgba(104,156,210,0.95);
}
.card:hover .card-meta, .card:focus .card-meta {
	max-height: 1em;
}
/*----------MY_ADD--------*/
p.name_product {
	color: #78909C;
	font-weight: bold;
}
p.prise_pre {
	color: #e57373;
	font-weight: bold;
}
p.prise_notpre {
	color: #64B5F6;
	font-weight: bold;
}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 5px 60px;
  	margin: 15px 15px 15px 15px;
  	float: right;
	border-radius: 10px;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}
.red
{
	background-color: #81C784;
	border-bottom: 5px solid #81C784;
}
.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.nav-page {
	text-align: center;
}
.page_num {
	margin: 5px;
	text-decoration:none; text-align:center;
	padding:4px 11px;
	border:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:18px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
	background:#78909C;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	text-shadow: 1px 0px 0px #bababa;
	filter: dropshadow(color=#bababa, offx=1, offy=0);  -webkit-transition: height 0s linear;
	-moz-transition:  height 0s linear;
	-o-transition:  height 0s linear;
	transition:  height 0s linear;
}
.page_num:hover {
	background-color: #fff;
	color: #424242;
}
/*-----BLOG_END-------*/
/*--------------delivery_START----------------*/
.container_delivery {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #F5F5F5;
	margin-top: 15px;
	height: 500px;
	width: 1100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 5px;
	text-align: center;
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;

}
.new_post {
	color: #f44336;
}
.container_paid {
	max-width: 1100px;
	margin 0 auto;
	background-color: #F5F5F5;
	margin-top: 15px;
	height: 500px;
	width: 1100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 5px;
	text-align: center;
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;
	font-size: 20px;
}
.privat1 {
	color: #4CAF50;
}
.privat2 {
	color: #212121;
}
.admin {
	float: right;
	margin-top: 50px;
}
.viber {
	color: #9C27B0;
	font-weight: bold;
}
.wat_app {
	color: #8BC34A;
	font-weight: bold;
}
/*--------------delivery_END----------------*/

/*-------FOOTER_START-------*/
.footer-wrap {
	position: absolute;
    bottom: 0;
	display: block;
	justify-content: space-between;
	background-color: #78909C;
	width: 100%;
	height: 70px;
}
div.copyright {
	align-items: center;
	color: #fff;
}